services:
  portainer:
    image: portainer/portainer-ce:2.33.5
    container_name: portainer
    restart: always
    ports:
      - "9000:9000"
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock"
      - "portainer_data:/data"
    networks:
      - traefik-network
    labels:
      traefik.enable: "true"
      traefik.http.routers.portainer.rule: "Host(`portainer.ciops-demo.duckdns.org`)"
      traefik.http.routers.portainer.entrypoints: "websecure"
      traefik.http.routers.portainer.tls.certresolver: "myresolver"
      traefik.http.services.portainer.loadbalancer.server.port: "9000"

networks:
  traefik-network:
    external: true

volumes:
  portainer_data: